.about {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background: url(../img/sky.jpg) no-repeat;
    color: #fff;

    &:after {
        content: '';
        top: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .4);
        z-index: 2;
    }
    
    .container {
        position: relative;
        z-index: 3;
    }

    &-h2 {
        padding-top: 60px;
        padding-bottom: 20px;
        font-weight: 700;
        font-size: 32px;
        color: #fff;
    }

    &-p {
        margin-top: 40px;
        font-weight: 300;
        font-size: 22px;
        line-height: 1.5;
        
        &__bold {
            font-weight: bold;
        }
    }

    .about-h2, .about-p {
        font-family: 'Montserrat', sans-serif;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
    }

    &-advantages {
        margin-top: 72px;
        margin-bottom: 30px;
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        overflow: hidden;
    }

    &-content {
        padding: 0 4px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        border-bottom: solid 4px #7eaa3b;

        @media (max-width: 770px) {
            margin: auto;
            width: 80%;
            border-bottom: none;
        }
        @media (max-width: 570px) {
            width: 100%;
        }

        &:before {
            content: '';
            width: 0;
            position: absolute;
            top: 0;
            left: 4px;
            bottom: 0;
            border-left: solid 4px #7eaa3b;
            margin-top: 54px;
            margin-left: -4px;

            @media (max-width: 770px) {
                margin-bottom: 94px;
            }
            @media (max-width: 410px) {
                margin-bottom: 106px;
            }
        }

        &:after {
            content: '';
            width: 0;
            border-right: solid 4px #7eaa3b;
            margin-top: 54px;
            margin-right: -4px;

            @media (max-width: 770px) {
                display: none;
            }
        }

        &__column {
            flex: 0 0 50%;
            max-width: 50%;

            @media (max-width: 770px) {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .about-left-item {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;
                align-content: flex-end;
                align-items: center;

                @media (max-width: 770px) {
                    flex-direction: row;
                    justify-content: flex-start;
                    align-content: flex-start;
                    align-items: center;
                }

                &:before {
                    display: block;
                    width: 20px;
                    height: 0;
                    border-bottom: solid 4px #7eaa3b;
                }

                &:nth-child(4){
                    padding-bottom: 40px;
                }

                &__img {
                    position: relative;
                    display: flex;
                    flex: 1 1 140px;
                    justify-content: flex-end;

                    @media (max-width: 770px) {
                        justify-content: flex-start;
                    }
                    @media (max-width: 570px) {
                        flex: 1 1 120px;
                    }
                    
                    img {
                        border: 2px solid #7eaa3b;
                        width: 80px;
                        height: 80px;
                        border-radius: 100%;
                        background: #fff;
                        padding: 3px;
                        max-width: 100%;
                    }
                }

                .about-left-text {
                    flex: 5 5 500px;
                    text-transform: uppercase;

                    h4 {
                        text-align: right;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 1.4;

                        @media (max-width: 770px) {
                            text-align: left;
                        }
                        @media (max-width: 570px) {
                            font-size: 15px;
                        }
                    }
                }
            }

            .about-right-item {
                display: flex;
                align-items: center;

                &:before {
                    display: block;
                    width: 20px;
                    height: 0;
                    border-bottom: solid 4px #7eaa3b;
                }

                &:nth-child(4){
                    padding-bottom: 40px;

                    @media (max-width: 770px) {
                        padding-bottom: 0;
                    }
                }

                &__img {
                    flex: 1 1 140px;
                    position: relative;
                    display: flex;

                    @media (max-width: 570px) {
                        flex: 1 1 120px;
                    }

                    img {
                        border: 2px solid #7eaa3b;
                        width: 80px;
                        height: 80px;
                        border-radius: 100%;
                        background: #fff;
                        padding: 3px;
                        max-width: 100%;
                    }
                }

                .about-right-text {
                    flex: 5 5 500px;
                    text-transform: uppercase;

                    h4 {
                        text-align: left;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 1.4;

                        @media (max-width: 570px) {
                            font-size: 15px;
                        }
                    }
                }
            }

            .about-left-item, .about-right-item {
                margin-top: 16px;
                margin-bottom: 16px;
            }

            .about-left-item:before, .about-right-item:before {
                content: '';
                left: 15px;
                top: 40px;
            }
        }
    }

    &-read-more {
        text-align: center;
        text-transform: uppercase;
        font-size: 22px;
        width: 500px;
        max-width: 90%;
        z-index: 2;
        color: #f6f6f6;
        position: relative;
        margin: -25px auto 40px;

        @media (max-width: 770px) {
            margin: auto;
            font-size: 18px;
        }

        &-btn {
            background: #333;
            color: #f6f6f6;
            border-radius: 10px;
            padding: 20px 48px;
            box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);

            @media (max-width: 770px) {
                padding: 15px 35px;
            }
        }
    }
}