.header {
    padding: 10px 0;
    
    .container {
        display: flex;
        align-items: center;
    }

    &-logo {
        height: 200px;
        display: block;
        
        img {
            max-height: 100%;
        }
    }

    &-addinfo {
        width: 100px;
        color: #333;
        font-family: 'Roboto Slab', serif;
        line-height: 1.2;
    }
}