.menu-nav-toggle {
    padding: 5px 15px;
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    font-size: 36px;
    color: #fff;
    background-color: #3bdc4d;
    border: 2px solid #279133;
    border-radius: 10px;
    cursor: pointer;

    @media (max-width: 600px) {
        font-size: 28px;
    }
    @media (max-width: 500px) {
        top: 15px;
        right: 15px;
    }
    @media (max-width: 400px) {
        top: 10px;
        right: 10px;
    }

    &.active {
        display: block;
    }
}

.popup-nav {
    z-index: 999;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: #3bdc4d;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
        transform: scale(0.04), translateY(9999px);
        overflow: hidden;
    }

    &__menu {
        width: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        backface-visibility: hidden;
        perspective: 1000;
        color: white;
    
        &-item {
            cursor: pointer;
            font-size: 48px;
            text-align: center;
            background-color: inherit;
            opacity: 0;
            transform: translate3d(0, 36px, 0);

            &:hover {
                background-color: darken(#3bdc4d, 10);
            }
        }

        &-link {
            padding: 10px 20px;
            display: block;
        }
    }
}


.menu-nav-toggle-close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 0);
    opacity: 0;
}

.popup-nav__logo {
    margin: 10px;
    max-width: 160px;
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0;
    z-index: 999;

    .logo {

        &-link {
            margin-right: 10px;
            max-width: 40px;

        img {
            max-width: 100%;
        }
    }

        &-addinfo {
            max-width: 110px;
            font-size: 14px;
            color: #fff;
        }
    }
}



.open-nav {
    
    .popup-nav {
        top: 0;

        &:before {
            animation: menu-animation 0.8s ease-out forwards;
        }
    }

    .menu-nav-toggle-close {
        padding: 10px;
        font-size: 24px;
        color: #fff !important;
        font-weight: bold;
        background-color: transparent;
        border: 2px solid #279133;
        border-radius: 10px;
        opacity: 1;
        transform: translate(-25px, 25px);
        transition: opacity, transform 1s;
        transition-delay: .75s;
        cursor: pointer;

        &:hover {
            background-color: #279133;
        }
    }

    .popup-nav__logo {
        opacity: 1;
        transition: opacity .5s;
        transition-delay: .75s;
    }

    .popup-nav__menu-item {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    
        &:nth-child(1) {
            transition-delay: 0.75s;
        }
    
        &:nth-child(2) {
            transition-delay: 0.85s;
        }
    
        &:nth-child(3) {
            transition-delay: 0.95s;
        }
    
        &:nth-child(4) {
            transition-delay: 1.05s;
        }
        &:nth-child(5) {
            transition-delay: 1.15s;
        }
        &:nth-child(6) {
            transition-delay: 1.25s;
        }
        &:nth-child(7) {
            transition-delay: 1.35s;
        }
    }
}


// animation
@-webkit-keyframes menu-animation {
    0% {
      opacity: 0;
      transform: scale(0.04) translateY(300%);
    }
    40% {
      transform: scale(0.04) translateY(0);
      transition: ease-out;
    }
    40% {
      transform: scale(0.04) translateY(0);
    }
    60% {
      opacity: 1;
      transform: scale(0.02) translateY(0px);
    }
    61% {
      transform: scale(0.04);
    }
    99.9% {
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
    100% {
      transform: scale(2);
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }
  }
  
  @keyframes menu-animation {
    0% {
      opacity: 0;
      transform: scale(0.04) translateY(300%);
    }
    40% {
      transform: scale(0.04) translateY(0);
      transition: ease-out;
    }
    40% {
      transform: scale(0.04) translateY(0);
    }
    60% {
      opacity: 1;
      transform: scale(0.02) translateY(0px);
    }
    61% {
      transform: scale(0.04);
    }
    99.9% {
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
    100% {
      transform: scale(2);
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }
  }