// menu toggler
.menu-toggle {
    padding: 15px;
    background-color: #40b376;
    border: 2px solid #187142;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.nav {
    z-index: 999;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: #087A91; //rgba(123, 156, 121, 0.98)
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
        transform: scale(0.04), translateY(9999px);
        overflow: hidden;
    }

    &__menu {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        backface-visibility: hidden;
        perspective: 1000;
        color: white;
    
        &-item {
            cursor: pointer;
            padding: 10px 20px;
            font-size: 48px;
            opacity: 0;
            text-align: center;
            transform: translate3d(0, 36px, 0);
    
            .link {
                font-size: 1em;
                position: relative;
                transition: all 0.6s;

                &:before {
                    content: "";
                    width: 0;
                    height: 0.1em;
                    position: absolute;
                    bottom: -5px;
                    left: 50%; // if 0 - starts on the right
                    background: #00aeff;
                    transition: all 0.3s;
                }

                &:hover {

                    &:before {
                        width: 100%;
                        left: 0;
                        background: #CEBF34;
                    }
                }
            }
        }
    }
}


// popup nav menu
.open {
    
    .nav {
        top: 0;

        &:before {
            animation: menu-animation 0.8s ease-out forwards;
        }
    }

    .menu-toggle {
        opacity: 1;
    
        &:before {
            opacity: 0;
            width: 0;
        }
    
        &:after {
            opacity: 1;
            transform: translate3d(0, 0, 0) rotate(360deg);
            transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
            transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
            transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
        }
    }

    .nav__menu-item {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    
        &:nth-child(1) {
            transition-delay: 0.75s;
        }
    
        &:nth-child(2) {
            transition-delay: 0.85s;
        }
    
        &:nth-child(3) {
            transition-delay: 0.95s;
        }
    
        &:nth-child(4) {
            transition-delay: 1.05s;
        }
    }

    .content {
        transform: scale(0.92);
        transition: -webkit-transform 0.2s 0.41s ease-out;
        transition: transform 0.2s 0.41s ease-out;
        transition: transform 0.2s 0.41s ease-out, -webkit-transform 0.2s 0.41s ease-out;
    }
}


// animation
@-webkit-keyframes menu-animation {
    0% {
      opacity: 0;
      transform: scale(0.04) translateY(300%);
    }
    40% {
      transform: scale(0.04) translateY(0);
      transition: ease-out;
    }
    40% {
      transform: scale(0.04) translateY(0);
    }
    60% {
      opacity: 1;
      transform: scale(0.02) translateY(0px);
    }
    61% {
      transform: scale(0.04);
    }
    99.9% {
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
    100% {
      transform: scale(2);
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }
  }
  
  @keyframes menu-animation {
    0% {
      opacity: 0;
      transform: scale(0.04) translateY(300%);
    }
    40% {
      transform: scale(0.04) translateY(0);
      transition: ease-out;
    }
    40% {
      transform: scale(0.04) translateY(0);
    }
    60% {
      opacity: 1;
      transform: scale(0.02) translateY(0px);
    }
    61% {
      transform: scale(0.04);
    }
    99.9% {
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
    100% {
      transform: scale(2);
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }
  }