.contact {
    z-index: 1000;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: #3bdc4d;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
        transform: scale(0.04), translateY(9999px);
        overflow: hidden;
    }

    &__form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        backface-visibility: hidden;
        perspective: 1000;
        color: white;
    
        &-item {
            padding: 10px 20px;
            font-size: 48px;
            opacity: 0;
            text-align: center;
            transform: translate3d(0, 36px, 0);
            cursor: pointer;

            &--direct {
              font-size: 20px;
            }

            &--inst {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            &--inst .fa-instagram {
              margin-right: 10px;
              padding: 8px;
              font-size: 30px;
              background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
              border-radius: 15px;
            }

            &--form {
              margin-bottom: 40px;
              padding: 0;
              font-size: 18px;
              text-align: center;
              cursor: default;

              h4 {
                margin-bottom: 40px;
              }

              .form-group {
                margin: 15px 0;
                display: flex;
                justify-content: space-between;
              }

              .contact__form-input {
                width: 49%;
                color: #fff;
                font-size: 24px;
                text-align: center;
                border: none;
                border-bottom: 2px solid #fff;
                background-color: transparent;

                &::placeholder {
                  color: #fff;
                  font-size: 22px;
                  opacity: 1;
                  transition: opacity 0.3s ease;
                }

                &:focus::placeholder {
                  opacity: 0;
                  transition: opacity 0.3s ease;
                }
              }

              .contact__form-submit {
                margin: auto;
                padding: 10px 15px;
                background-color: #ffe000;
                color: #fff;
                font-size: 20px;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                }

                &:focus {
                  outline: none;
                }
              }
            }
        }
    }


.menu-toggle-close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 0);
    opacity: 0;
}

.popup-contact__logo {
  margin: 10px;
  max-width: 160px;
  position: relative;
  display: flex;
  align-items: center;
  opacity: 0;
  z-index: 999;

  .logo {

      &-link {
          margin-right: 10px;
          max-width: 40px;

      img {
          max-width: 100%;
      }
  }

      &-addinfo {
          max-width: 110px;
          font-size: 14px;
          color: #fff;
      }
  }
}



.open {
    
    .contact {
        top: 0;

        &:before {
            animation: menu-animation 0.8s ease-out forwards;
        }
    }

    .menu-toggle-close {
        padding: 10px;
        font-size: 24px;
        color: #fff !important;
        font-weight: bold;
        background-color: transparent;
        border: 2px solid #279133;
        border-radius: 10px;
        opacity: 1;
        transform: translate(-25px, 25px);
        transition: opacity, transform 1s;
        transition-delay: .75s;
        cursor: pointer;

        &:hover {
            background-color: #279133;
        }
    }

    .popup-contact__logo {
      opacity: 1;
      transition: opacity .5s;
      transition-delay: .75s;
    }

    .contact__form-item {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    
        &:nth-child(1) {
            transition-delay: 0.75s;
        }
    
        &:nth-child(2) {
            transition-delay: 0.85s;
        }
    
        &:nth-child(3) {
            transition-delay: 0.95s;
        }
    
        &:nth-child(4) {
            transition-delay: 1.05s;
        }
    }
}


// animation
@-webkit-keyframes menu-animation {
    0% {
      opacity: 0;
      transform: scale(0.04) translateY(300%);
    }
    40% {
      transform: scale(0.04) translateY(0);
      transition: ease-out;
    }
    40% {
      transform: scale(0.04) translateY(0);
    }
    60% {
      opacity: 1;
      transform: scale(0.02) translateY(0px);
    }
    61% {
      transform: scale(0.04);
    }
    99.9% {
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
    100% {
      transform: scale(2);
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }
  }
  
  @keyframes menu-animation {
    0% {
      opacity: 0;
      transform: scale(0.04) translateY(300%);
    }
    40% {
      transform: scale(0.04) translateY(0);
      transition: ease-out;
    }
    40% {
      transform: scale(0.04) translateY(0);
    }
    60% {
      opacity: 1;
      transform: scale(0.02) translateY(0px);
    }
    61% {
      transform: scale(0.04);
    }
    99.9% {
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
    100% {
      transform: scale(2);
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }
  }