.usage {


    &-title {
        margin-bottom: 20px;
        font-size: 48px;
        color: rgb(26, 72, 47);
        font-family: 'Roboto Slab', serif;
        text-align: center;
    }

    &-descr {
        margin-bottom: 30px;
        font-size: 16px;
        color: rgb(247, 148, 29);
        text-align: center;
    }

    &-steps {
        display: flex;
        justify-content: space-between;
    }

    &__step {
        padding: 15px 5px 5px 5px;
        width: 210px;
        position: relative;
        border-radius: 5px;
        border: 2px solid rgb(64, 179, 118);

        &:not(:last-child):after {
            content: '';
            margin-left: 50%;
            height: 2px;
            width: 80px;
            position: absolute;
            top: 50%;
            left: 100%;
            background-color: rgb(64, 179, 118);
        }

        &-number {
            margin-bottom: 20px;
            color: #333;
            font-size: 40px;
            text-align: center;
            font-weight: 700;
        }

        &-instruction {
            font-size: 16px;
            color: rgb(54, 54, 54);
            text-align: center;
            line-height: 1.5;
        }
    }
}